<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos :: cabecalho('Lista de Fornecedores')}"></head>

<body>

    <form th:replace="~{fragmentos :: form-logout}"></form>

    <div class="container">

        <div th:replace="~{fragmentos :: saudacoes(${usuario})}"></div>

        <div class="row">
            <h1>Fornecedores</h1>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>CNPJ</th>
                            <th>Contato</th>
                            <th>Email</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="f : ${fornecedores}">
                            <td th:text="${f.nome}"></td>
                            <td th:text="${f.cnpj}"></td>
                            <td th:text="${f.contato}"></td>
                            <td th:text="${f.email}"></td>
                            <td>
                                <a th:href="@{|/fornecedor/detalhes/${f.id}|}">Detalhes</a> |
                                <a th:href="@{|/fornecedor/editar/${f.id}|}">Editar</a> |
                                <a th:href="@{|/fornecedor/remover/${f.id}|}">Remover</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <a href="/fornecedor/novo">Cadastrar um Novo Fornecedor</a><br>
            <a href="/usuario/novo">Cadastrar um Novo Usuário</a>
        </div>
    </div>

</body>

</html>
